
body{
    margin: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.6)), url(Imgs/grumpy-cat.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.container{
    color: white;
    font-size: x-large;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    position: absolute;
    align-self: center;
    max-width: 90%;
    top: 100px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
    margin-bottom: 50px;
}


.joke-generator{
    color: white;
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin: 20px;
    text-align: center;    
}

ul li {
    transform: translateY(-50px);
    text-align: center;
    margin-right: 25px;
}

#btn{
    position: absolute;
    bottom: 50px;
    letter-spacing: 2px;
    padding: 30px 80px;
    border-radius: 10px;
    background-color: white;
    outline: none;
    box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);

}

#jokes{
    font-size: 14px;
    width: 80%;
    position: absolute;
    top: 250px;
    text-decoration: none;
    list-style-type: none;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0); ;
    letter-spacing: 5px;
    line-height: 20px;
    text-align: center;
}

@media screen and (max-width: 400px){
    h1{
        font-size: 25px;
    }
    #btn{
        padding: 20px 40px; 
    }
    #jokes{
        font-size: 12px;
}